@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@1.2.1/dist/web/static/pretendard-dynamic-subset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.decorate-link {
    font-weight: 500;
}
.decorate-link:hover {
    color: #4f46e5;
}

.yellow-badge {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    border-radius: 9999px;
    background-color: #fef9c3;
    padding: .125rem .625rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 500;
    color: #854d0e;
}

@media (prefers-color-scheme: dark) {
    .yellow-badge {
        background-color: #fef08a;
        color: #713f12;
    }
}

.icon-spin {
    animation: icon-spin 1s linear infinite;
    animation-direction: reverse;
}

@keyframes icon-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
